<!DOCTYPE html>
<html>
    <head>
        <title>Results</title>
    </head>

    <body>
      <h1>Post!</h1>
      <p>Weight: <%=weight%></p>
      <p>Mail Type: <%=mailType%></p>
      <p>Total Price: $<%=result%></p>

    </body>
</html>